circle {
  opacity:0.3;
}
.axis {
      font-family: calibri;
      font-size: 0.6em;
}
path.domain {
  stroke: black;
  stroke-width: 1px;
  fill:none;
}

h2 {
	font-family: calibri;
  text-align: left;
  margin-left: 80px;
  margin-top: 40px;
}

path.dimple-world {
      stroke-width: 4px;
      fill:none;
    }


p {
	font-family: calibri;
	font-size: 0.9em;
  margin-left: 80px;
}
